numpy==1.24.1
keras==2.11.0
tensorflow==2.11.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.29.0
torch
torchaudio
torchvision
transformers==4.11.3
tokenizers==0.10.3